@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Set some basic styling for the entire page */
  body {
    font-family: "Roboto", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
